#root {
  background-color: #f6f9fc;
  height: 100vh;
}

body {
  margin: 0px !important;
  background-color: #f6f9fc !important;
}

html,
body {
  overflow: auto;
}

.leftAligned {
  text-align: left;
}